<div class="row justify-content-start pb-3">
    <div class="row justify-content-start">
        <div class="col-auto">
            <button type="submit" class="form-control btn btn-outline-primary rounded submit px-3" routerLink="/home"
                routerLinkActive="active" ariaCurrentWhenActive="page">Back</button>
        </div>
    </div>
</div>

<div class="card rounded py-4 px-1">
    <div *ngIf="apiLoaded | async">
        <google-map [options]="options" height="400px" width="350px">
            <map-marker *ngFor="let item of fidderList; index as i"
            [options]="markerOptions[i]"></map-marker>
        </google-map>
      </div>

</div>
